Django==4.2.4          # Specify the version of Django you're using
djangorestframework==3.14.0   # Latest version of DRF at the time
psycopg2==2.9.6        # Only if you're using PostgreSQL
mysqlclient==2.1.1     # If you're using MySQL
django-cors-headers==3.13.0  # CORS support, if necessary
